<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmb.boar.PodcastDaoMapper" >
  <resultMap id="BaseResultMap" type="com.mmb.boar.entity.PodcastDao" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="feed" property="feed" jdbcType="VARCHAR" />
    <result column="insertion_date" property="insertionDate" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="link_on_podcastpedia" property="linkOnPodcastpedia" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, feed, insertion_date, description, link_on_podcastpedia
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from podcasts
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from podcasts
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmb.boar.entity.PodcastDao" >
    insert into podcasts (id, title, feed, 
      insertion_date, description, link_on_podcastpedia
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{feed,jdbcType=VARCHAR}, 
      #{insertionDate,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{linkOnPodcastpedia,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmb.boar.entity.PodcastDao" >
    insert into podcasts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="feed != null" >
        feed,
      </if>
      <if test="insertionDate != null" >
        insertion_date,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="linkOnPodcastpedia != null" >
        link_on_podcastpedia,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="feed != null" >
        #{feed,jdbcType=VARCHAR},
      </if>
      <if test="insertionDate != null" >
        #{insertionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="linkOnPodcastpedia != null" >
        #{linkOnPodcastpedia,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmb.boar.entity.PodcastDao" >
    update podcasts
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="feed != null" >
        feed = #{feed,jdbcType=VARCHAR},
      </if>
      <if test="insertionDate != null" >
        insertion_date = #{insertionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="linkOnPodcastpedia != null" >
        link_on_podcastpedia = #{linkOnPodcastpedia,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmb.boar.entity.PodcastDao" >
    update podcasts
    set title = #{title,jdbcType=VARCHAR},
      feed = #{feed,jdbcType=VARCHAR},
      insertion_date = #{insertionDate,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      link_on_podcastpedia = #{linkOnPodcastpedia,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>